@charset "UTF-8";

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/Libre-Franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype"),
       url("../fonts/Libre-Franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo/Heebo-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

::selection {
  background-color: #0a6a6c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  background-color: #110F0F;
  color: white;
  padding: 20px;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: end;
  padding-bottom: 4rem;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}


h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 0.95;
  margin: 0;
  font-size: 56px;
  color: #110F0F;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: -1.5px -1.5px 0 white,
                        0 -1.5px 0 white,
                        1.5px -1.5px 0 white,
                        1.5px 0 0 white,
                        1.5px 1.5px 0 white,
                        0 1.5px 0 white,
                       -1.5px 1.5px 0 white,
                       -1.5px 0  0 white,
                        5px 5px 6px #BB5100;
          text-shadow: -1.5px -1.5px 0 white,
                        0 -1.5px 0 white,
                        1.5px -1.5px 0 white,
                        1.5px 0 0 white,
                        1.5px 1.5px 0 white,
                        0 1.5px 0 white,
                       -1.5px 1.5px 0 white,
                       -1.5px 0  0 white,
                        5px 5px 6px #BB5100;
}

.section {
  font-size: 20px;
  line-height: 1.3;
}

.section__heading {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 1rem 0;
  color: #110F0F;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: -1px -1px 0 white,
  0 -1px 0 white,
  1px -1px 0 white,
  1px 0 0 white,
  1px 1px 0 white,
  0 1px 0 white,
 -1px 1px 0 white,
 -1px 0  0 white;
text-shadow: -1px -1px 0 white,
  0 -1px 0 white,
  1px -1px 0 white,
  1px 0 0 white,
  1px 1px 0 white,
  0 1px 0 white,
 -1px 1px 0 white,
 -1px 0  0 white;
}

.section__intro {
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 40px;
}

hr {
  background-color: #707070;
  margin: 60px 0 20px 0;
  width: 160px;
  height: 4px;
  border: none;
}

.section__testimonials {
  
}

blockquote {
  font-style: italic;
  max-width: 80%;
  margin-bottom: 40px;
}

blockquote:nth-of-type(odd) {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

blockquote:nth-of-type(even) {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

blockquote:nth-last-of-type(1) {
  margin-bottom: 0;
}

.blockquote__source {
  font-style: normal;
}

footer {
  width: 100%;
  line-height: 1;
}

.footer__social {
  margin-right: 8px;
  vertical-align: sub;
}

.footer__social-path {
  fill: white;
  fill-rule: nonzero;
}