@charset "UTF-8";

@font-face {
  font-family: "Libre Franklin";
  src: url("/assets/fonts/Libre-Franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype"),
       url("/assets/fonts/Libre-Franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #110F0F;
  color: white;
  padding: 0;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 4rem;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  letter-spacing: 0.3rem;
  line-height: 0.9;
  margin: 0;
  font-size: 58px;
  color: #110F0F;
	-webkit-text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white, 3px 3px 0 #BB5100;
          text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white, 3px 3px 0 #BB5100;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #110F0F;
	-webkit-text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
          text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}